*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    text-align: center;
}

body, main, footer, nav{
    position: relative;
    margin: 0;
    padding: 0;
}

.yellow-text{
    color:rgb(236, 220, 74);
}

nav{
    background-color:transparent;
    padding: 2rem;
    margin-bottom: 2rem;
    position:fixed;
    z-index: 10;
    max-height: 70px;    
}

nav > div > img{
    width: 30%;
    min-width: 70px;
}

.flex{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

nav a:hover{
    border-bottom: 2px solid white;
    color: white;
    }


.section1{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width:100%;
    min-height:700px;
    background-color :rgb(36, 36, 34);
    justify-content: center;
    text-align: center;
    align-items: center;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top:4rem;
    padding-bottom: 4rem;
}


.mypic-div{
    text-align: right;
    align-items: flex-end;
}

.section1 div img{
    width:90%;
    min-width: 250px;
    border-radius: 50%;

}   

h1{
    font-size:3.5rem;
    color: white;
}


.section1 p{
    font-size: 2rem;
    font-style: italic;
    color:whitesmoke;
}

.section2{
    position: relative;
    display: block;
    min-height:200px;
    background-color:rgb(31, 51, 119);
    text-align: center;   
}

.sect2-content{
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: center;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    text-transform: uppercase;
}

.sect2-content h3{
    color: white;
    min-width: 60%;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 2rem;
    position:relative;
    height: 100%;
    margin-top:40px;
    font-size: 1.8rem;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    color: white;
    font-weight: 300;
    line-height: 35px;
}

.section3{
    display: grid;
    background-color:rgb(31, 51, 119);
    grid-template-columns: repeat(auto-fit,minmax(400px,2fr));
    gap: 2rem;
    text-align: center;
    justify-content: space-around;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.heading2{
    grid-area: cell1;
    position: relative ;
    }

.section3 img{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    
}


.caption{
    background-color :rgb(24, 23, 19);
    padding: 0.4rem 0.2rem;
    font-size: 1rem;
    width: 100%;
    line-height: 2rem;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    outline-style: solid;
    outline-color: rgb(133, 120, 120);
    outline-width: 0.5px;
    border-radius: 5px;
}

.caption button{
    width: 100px;
    height: 25px;
    margin: 0.1rem;
    border-radius: 5px;
    background-color :rgb(53, 50, 12);
}

.caption button:hover{
    background-color :rgb(100, 98, 56);
}

.caption button a{
    color:white;
    font-size: 0.7rem;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;    
    background-position:center center;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat;
    overflow: hidden;
    
}


.button{
    font-weight: bolder;
    font-size: 1.5rem;
    background-color :rgb(236, 220, 74);
    color: rgb(7, 7, 7);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
} 

.button:hover{
    background-color :rgb(238, 229, 174);
}


footer{
    position:relative;
    height: 50px;
    /* background-color:rgb(7, 34, 68); */
    background-color:rgb(36, 36, 133);
}

footer p{
    color:white;
    font-style:italic;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* Media Query */
/* For desktop devices  */
@media (min-width: 1025px) {
    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }

  

}


/* For tablets */
@media screen and (min-width:481px) and (max-width:1024px){
    .flex{
        gap:25px;
    }

    .section1 div img{
        width:90%;
    }

    nav a{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }
    
    .section1{
        flex-direction: column;
    }

 
    .caption{
        font-size: 1.2rem;
    }

    .section1 p{
        font-size:1.5rem;
        
    }
    .sect1-content h1{
        padding-top:1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
   
    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }

    .sect2-content h3{
        font-size: 1.5rem;
        line-height: 35px;
        width: 70%;
        padding:0.8rem;
        outline-width: 2px;
        text-transform: uppercase;
    }


    footer p{
        font-size: 0.8rem;
    }

    .button{
        font-size: 1.5rem;
    }


}

/* for phone  */
@media screen and (max-width:480px){
    .section3{
        grid-template-columns: repeat(auto-fit,minmax(300px,2fr));
    }

    .flex{
        gap:15px;
    }
    .section1 div img{
        width:90%;
    }

    nav a{
        font-size: 0.7rem;
    }

    h1{
        font-size: 2rem;
    }

    .section1{
        flex-direction: column;
    }

    .section1 p{
        font-size:1.2rem;
    }

    .sect1-content h1{
        padding-top: 1rem;
        font-size: 2rem;
    }

    .section1, .section4{
        background-image: url(./img/bg4.jfif)!important;
    }


    .sect2-content h3{
        font-size: 1.2rem;
        line-height: 35px;
        width: 80%;
        padding:0.6rem 1.2rem;
        outline-width: 2px;
        text-transform: uppercase;
    }


    .caption{
        font-size: 1rem;
    }

    footer p{
        font-size: 0.5rem;
    }

    .button{
        font-size: 1rem;
    }

}